# üìä Housing price model

**Author: Tiebe Goossens**

## 1Ô∏è‚É£ Loading and Preparing the Training Dataset

In this notebook, we train several machine-learning models to predict housing 
prices based on the UK Price Paid dataset.

We start by loading the cleaned and prepared dataset produced in the previous
‚ÄúFinal Prep‚Äù notebook. Because the full dataset contains over 22 million rows,
we use a 10% training subset that remains large enough to capture price
patterns while still allowing local training.

In [1]:
!pip install scikit-learn lightgbm pycaret

Requirement already satisfied: scikit-learn in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (1.4.2)
Requirement already satisfied: lightgbm in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (4.6.0)
Requirement already satisfied: pycaret in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (3.3.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: joblib>=1.2.0 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: scipy>=1.6.0 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: scikit-plot>=0.3.7 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pycaret) (0.3.7)
Requirement already satisfied: deprecation>=2.1.0 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pycaret) (2.1.0)
Requirement already satisfied: category-encoders>=2.4.0 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pycaret) (2.7.0)
Requirement already satisfied: sktime==0.26.0 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pycaret) (0.26.0)
Requirement already satisfied: matplotlib<3.8.0 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pycaret) (3.7.5)
Requirement already satisfied: cloudpickle in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pycaret) (3.1.2)
Requirement already satisfied: xxhash in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pycaret) (3.6.0)
Requirement already satisfied: ipython>=5.5.0 in c:\users\tiebe\appdata\roaming\python\python310\site-packages (from pycaret) (8.37.0)
Requirement already satisfied: imbalanced-learn>=0.12.0 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pycaret) (0.14.0)
Requirement already satisfied: importlib-metadata>=4.12.0 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pycaret) (8.7.0)
Requirement already satisfied: kaleido>=0.2.1 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pycaret) (1.2.0)
Requirement already satisfied: tbats>=1.1.3 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pycaret) (1.1.3)
Requirement already satisfied: yellowbrick>=1.4 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pycaret) (1.5)
Requirement already satisfied: statsmodels>=0.12.1 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pycaret) (0.14.5)
Requirement already satisfied: ipywidgets>=7.6.5 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pycaret) (8.1.8)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pycaret) (5.10.4)
Requirement already satisfied: tqdm>=4.62.0 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pycaret) (4.67.1)
Requirement already satisfied: plotly>=5.14.0 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pycaret) (5.24.1)
Requirement already satisfied: schemdraw==0.15 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pycaret) (0.15)
Requirement already satisfied: pyod>=1.1.3 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pycaret) (2.0.5)
Requirement already satisfied: numba>=0.55.0 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pycaret) (0.62.1)
Requirement already satisfied: markupsafe>=2.0.1 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pycaret) (3.0.2)
Requirement already satisfied: pmdarima>=2.0.4 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pycaret) (2.0.4)
Requirement already satisfied: plotly-resampler>=0.8.3.1 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pycaret) (0.11.0)
Requirement already satisfied: requests>=2.27.1 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pycaret) (2.32.5)
Requirement already satisfied: pandas<2.2.0 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pycaret) (2.1.4)
Requirement already satisfied: jinja2>=3 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pycaret) (3.1.6)
Requirement already satisfied: psutil>=5.9.0 in c:\users\tiebe\appdata\roaming\python\python310\site-packages (from pycaret) (7.1.0)
Requirement already satisfied: packaging in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from sktime==0.26.0->pycaret) (25.0)
Requirement already satisfied: scikit-base<0.8.0 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from sktime==0.26.0->pycaret) (0.7.8)
Requirement already satisfied: patsy>=0.5.1 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from category-encoders>=2.4.0->pycaret) (1.0.2)
Requirement already satisfied: zipp>=3.20 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from importlib-metadata>=4.12.0->pycaret) (3.23.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from ipython>=5.5.0->pycaret) (2.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\tiebe\appdata\roaming\python\python310\site-packages (from ipython>=5.5.0->pycaret) (0.1.7)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\tiebe\appdata\roaming\python\python310\site-packages (from ipython>=5.5.0->pycaret) (5.14.3)
Requirement already satisfied: typing_extensions>=4.6 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from ipython>=5.5.0->pycaret) (4.15.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\tiebe\appdata\roaming\python\python310\site-packages (from ipython>=5.5.0->pycaret) (3.0.52)
Requirement already satisfied: colorama in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from ipython>=5.5.0->pycaret) (0.4.6)
Requirement already satisfied: decorator in c:\users\tiebe\appdata\roaming\python\python310\site-packages (from ipython>=5.5.0->pycaret) (5.2.1)
Requirement already satisfied: exceptiongroup in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from ipython>=5.5.0->pycaret) (1.3.0)
Requirement already satisfied: jedi>=0.16 in c:\users\tiebe\appdata\roaming\python\python310\site-packages (from ipython>=5.5.0->pycaret) (0.19.2)
Requirement already satisfied: stack_data in c:\users\tiebe\appdata\roaming\python\python310\site-packages (from ipython>=5.5.0->pycaret) (0.6.3)
Requirement already satisfied: jupyterlab_widgets~=3.0.15 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from ipywidgets>=7.6.5->pycaret) (3.0.16)
Requirement already satisfied: comm>=0.1.3 in c:\users\tiebe\appdata\roaming\python\python310\site-packages (from ipywidgets>=7.6.5->pycaret) (0.2.3)
Requirement already satisfied: widgetsnbextension~=4.0.14 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from ipywidgets>=7.6.5->pycaret) (4.0.15)
Requirement already satisfied: pytest-timeout>=2.4.0 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from kaleido>=0.2.1->pycaret) (2.4.0)
Requirement already satisfied: choreographer>=1.1.1 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from kaleido>=0.2.1->pycaret) (1.2.1)
Requirement already satisfied: logistro>=1.0.8 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from kaleido>=0.2.1->pycaret) (2.0.1)
Requirement already satisfied: orjson>=3.10.15 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from kaleido>=0.2.1->pycaret) (3.11.4)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from matplotlib<3.8.0->pycaret) (3.2.5)
Requirement already satisfied: pillow>=6.2.0 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from matplotlib<3.8.0->pycaret) (11.3.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from matplotlib<3.8.0->pycaret) (2.9.0.post0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from matplotlib<3.8.0->pycaret) (1.3.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from matplotlib<3.8.0->pycaret) (4.60.0)
Requirement already satisfied: cycler>=0.10 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from matplotlib<3.8.0->pycaret) (0.12.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from matplotlib<3.8.0->pycaret) (1.4.9)
Requirement already satisfied: fastjsonschema>=2.15 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from nbformat>=4.2.0->pycaret) (2.21.2)
Requirement already satisfied: jsonschema>=2.6 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from nbformat>=4.2.0->pycaret) (4.25.1)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\tiebe\appdata\roaming\python\python310\site-packages (from nbformat>=4.2.0->pycaret) (5.8.1)
Requirement already satisfied: llvmlite<0.46,>=0.45.0dev0 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from numba>=0.55.0->pycaret) (0.45.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pandas<2.2.0->pycaret) (2025.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pandas<2.2.0->pycaret) (2022.7.1)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from plotly>=5.14.0->pycaret) (9.1.2)
Requirement already satisfied: tsdownsample>=0.1.3 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from plotly-resampler>=0.8.3.1->pycaret) (0.1.4.1)
Requirement already satisfied: dash>=2.11.0 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from plotly-resampler>=0.8.3.1->pycaret) (3.3.0)
Requirement already satisfied: urllib3 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pmdarima>=2.0.4->pycaret) (1.26.20)
Requirement already satisfied: setuptools!=50.0.0,>=38.6.0 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pmdarima>=2.0.4->pycaret) (80.9.0)
Requirement already satisfied: Cython!=0.29.18,!=0.29.31,>=0.29 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pmdarima>=2.0.4->pycaret) (3.2.1)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.27.1->pycaret) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.27.1->pycaret) (3.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.27.1->pycaret) (2025.8.3)
Requirement already satisfied: simplejson>=3.19.3 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from choreographer>=1.1.1->kaleido>=0.2.1->pycaret) (3.20.2)
Requirement already satisfied: Flask<3.2,>=1.0.4 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from dash>=2.11.0->plotly-resampler>=0.8.3.1->pycaret) (3.1.2)
Requirement already satisfied: Werkzeug<3.2 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from dash>=2.11.0->plotly-resampler>=0.8.3.1->pycaret) (3.1.3)
Requirement already satisfied: nest-asyncio in c:\users\tiebe\appdata\roaming\python\python310\site-packages (from dash>=2.11.0->plotly-resampler>=0.8.3.1->pycaret) (1.6.0)
Requirement already satisfied: retrying in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from dash>=2.11.0->plotly-resampler>=0.8.3.1->pycaret) (1.4.2)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\tiebe\appdata\roaming\python\python310\site-packages (from jedi>=0.16->ipython>=5.5.0->pycaret) (0.8.5)
Requirement already satisfied: referencing>=0.28.4 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (0.36.2)
Requirement already satisfied: attrs>=22.2.0 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (25.3.0)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (0.27.1)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (2025.9.1)
Requirement already satisfied: pywin32>=300 in c:\users\tiebe\appdata\roaming\python\python310\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat>=4.2.0->pycaret) (311)
Requirement already satisfied: platformdirs>=2.5 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat>=4.2.0->pycaret) (4.4.0)
Requirement already satisfied: wcwidth in c:\users\tiebe\appdata\roaming\python\python310\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython>=5.5.0->pycaret) (0.2.14)
Requirement already satisfied: pytest>=7.0.0 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pytest-timeout>=2.4.0->kaleido>=0.2.1->pycaret) (7.4.4)
Requirement already satisfied: six>=1.5 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib<3.8.0->pycaret) (1.17.0)
Requirement already satisfied: pure-eval in c:\users\tiebe\appdata\roaming\python\python310\site-packages (from stack_data->ipython>=5.5.0->pycaret) (0.2.3)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\tiebe\appdata\roaming\python\python310\site-packages (from stack_data->ipython>=5.5.0->pycaret) (3.0.0)
Requirement already satisfied: executing>=1.2.0 in c:\users\tiebe\appdata\roaming\python\python310\site-packages (from stack_data->ipython>=5.5.0->pycaret) (2.2.1)
Requirement already satisfied: itsdangerous>=2.2.0 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from Flask<3.2,>=1.0.4->dash>=2.11.0->plotly-resampler>=0.8.3.1->pycaret) (2.2.0)
Requirement already satisfied: click>=8.1.3 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from Flask<3.2,>=1.0.4->dash>=2.11.0->plotly-resampler>=0.8.3.1->pycaret) (8.3.0)
Requirement already satisfied: blinker>=1.9.0 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from Flask<3.2,>=1.0.4->dash>=2.11.0->plotly-resampler>=0.8.3.1->pycaret) (1.9.0)
Requirement already satisfied: iniconfig in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pytest>=7.0.0->pytest-timeout>=2.4.0->kaleido>=0.2.1->pycaret) (2.3.0)
Requirement already satisfied: tomli>=1.0.0 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pytest>=7.0.0->pytest-timeout>=2.4.0->kaleido>=0.2.1->pycaret) (2.2.1)
Requirement already satisfied: pluggy<2.0,>=0.12 in c:\users\tiebe\appdata\local\programs\python\python310\lib\site-packages (from pytest>=7.0.0->pytest-timeout>=2.4.0->kaleido>=0.2.1->pycaret) (1.6.0)

[notice] A new release of pip available: 22.3.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np

from sklearn.ensemble import ExtraTreesRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error
from lightgbm import LGBMRegressor
import math

from pycaret.regression import setup, compare_models, tune_model, finalize_model, save_model, predict_model

In [3]:
# Load your 10% subset dataset (as provided)
df = pd.read_csv("../../Data/housing_prices/price_paid_records_prepared_subset_10.csv")

# Convert date column to datetime and sort in time order
df["date_of_transfer"] = pd.to_datetime(df["date_of_transfer"])
df = df.sort_values("date_of_transfer").reset_index(drop=True)

df.head()

,transaction_unique_identifier,price,date_of_transfer,property_type,oldnew,duration,towncity,district,county,ppdcategory_type,record_status__monthly_file_only
0,{891F7B57-80C4-4BAA-83A8-BAE12D824A6E},35000,1995-01-01,D,N,F,STOURBRIDGE,DUDLEY,WEST MIDLANDS,A,A
1,{677AA6E5-A626-461A-BE2B-7B0580842D46},300000,1995-01-01,F,Y,L,LONDON,MERTON,GREATER LONDON,A,A
2,{9AE2B97B-69D0-4A5E-A4A9-3B496E56C6EB},125000,1995-01-01,D,N,F,MACCLESFIELD,MACCLESFIELD,CHESHIRE,A,A
3,{82C4FDD1-D6EB-4264-9A23-3640B8EF5973},17000,1995-01-01,T,N,F,HULL,KINGSTON UPON HULL,HUMBERSIDE,A,A
4,{7000CF90-DE77-4022-BFBE-99C0265A984D},52000,1995-01-01,S,N,L,WARRINGTON,WARRINGTON,WARRINGTON,A,A

In [4]:
def make_features(df, lags=[1, 10, 100], rolls=[5, 20]):
    df2 = df.copy()
    
    # Time-based features
    df2["year"] = df2["date_of_transfer"].dt.year
    df2["month"] = df2["date_of_transfer"].dt.month
    df2["dayofweek"] = df2["date_of_transfer"].dt.dayofweek
    df2["quarter"] = df2["date_of_transfer"].dt.quarter
    df2["dayofmonth"] = df2["date_of_transfer"].dt.day
    
    # Lag features on price
    for l in lags:
        df2[f"price_lag_{l}"] = df2["price"].shift(l)
    
    # Rolling stats on price (shifted by 1 to avoid leakage)
    for r in rolls:
        df2[f"price_roll_mean_{r}"] = df2["price"].shift(1).rolling(r).mean()
        df2[f"price_roll_std_{r}"] = df2["price"].shift(1).rolling(r).std()
    
    return df2

df_feat = make_features(df)

# Drop rows that don't have full lag/rolling data
df_feat = df_feat.dropna().reset_index(drop=True)

df_feat.head()

,transaction_unique_identifier,price,date_of_transfer,property_type,oldnew,duration,towncity,district,county,ppdcategory_type,...,dayofweek,quarter,dayofmonth,price_lag_1,price_lag_10,price_lag_100,price_roll_mean_5,price_roll_std_5,price_roll_mean_20,price_roll_std_20
0,{C888AFBD-1EE6-4C4A-8ADF-23325B8B5EB0},42500,1995-01-03,T,Y,F,BRIDLINGTON,EAST YORKSHIRE,HUMBERSIDE,A,...,1,1,3,38000.0,67400.0,35000.0,68600.0,20097.885461,51195.0,21065.623656
1,{D1418EA2-7D82-482D-A44C-4143D75A4790},86000,1995-01-03,D,N,F,LEEDS,LEEDS,WEST YORKSHIRE,A,...,1,1,3,42500.0,32000.0,300000.0,58900.0,18198.214198,51370.0,20973.318890
2,{9502E087-DC88-4DAF-8D71-F794F9587E49},50000,1995-01-03,T,N,F,BRAMPTON,TYNEDALE,NORTHUMBERLAND,A,...,1,1,3,86000.0,60000.0,125000.0,61600.0,21434.201641,51570.0,21297.346017
3,{85B55554-E0B6-4CD8-BD01-48C3DC7C1041},35000,1995-01-03,T,N,F,SHERBORNE,SOUTH SOMERSET,SOMERSET,A,...,1,1,3,50000.0,29500.0,17000.0,59200.0,22041.438247,51770.0,21261.036762
4,{299C3702-AC93-4B64-8638-A53745A051E5},39500,1995-01-03,S,N,L,MANCHESTER,BURY,GREATER MANCHESTER,A,...,1,1,3,35000.0,59000.0,52000.0,50300.0,20741.263221,51845.0,21195.741255

## 2Ô∏è‚É£ Time-Based Train/Test Split

We must avoid random shuffling when training models on time-series data.
Instead, we split the dataset chronologically:

- First 80% ‚Üí Training  
- Last 20% ‚Üí Testing  

This ensures the model is evaluated on *future* data it has never seen, which 
better reflects real-world prediction scenarios.

In [5]:
# 80% train, 20% test, chronologically
n = len(df_feat)
train_idx = int(n * 0.8)

train = df_feat.iloc[:train_idx]
test  = df_feat.iloc[train_idx:]

len(train), len(test)

(1799068, 449767)

## 3Ô∏è‚É£ Feature Engineering (Numeric-Only Baseline Model)

For our first quick model, we intentionally limit ourselves to **numeric features**
such as:

- Year, month, weekday  
- Lagged price values  
- Rolling averages of price  
- Rolling standard deviations  

This model is **not expected to perform well**, but the assignment requires 
a ‚Äúquick first model‚Äù to start testing deployment workflows.

Categorical variables such as county, district, property_type, etc. are ignored
in this first baseline model because scikit-learn models cannot directly consume
string values without encoding, and the goal here is simplicity and speed.

In [6]:
# Use only numeric columns as features
numeric_cols = df_feat.select_dtypes(include=[np.number]).columns.tolist()

# Remove the target from the feature list
features = [c for c in numeric_cols if c != "price"]
target = "price"

X_train = train[features]
y_train = train[target]

X_test = test[features]
y_test = test[target]

X_train.dtypes.head()

year          int32
month         int32
dayofweek     int32
quarter       int32
dayofmonth    int32
dtype: object

## 4Ô∏è‚É£ Baseline Model: Extra Trees Regressor

The **Extra Trees Regressor** serves as our first quick model. This model:

- Trains very quickly  
- Requires minimal feature engineering  
- Produces a ready-to-deploy model early in the project  
- Acts as a baseline to compare better models against  

We expect the MAE and RMSE to be large because the model does not yet include
location or property-type information, which are critical predictors for price.

In [7]:
etr = ExtraTreesRegressor(
    n_estimators=200,   # you can increase later
    max_depth=None,
    random_state=42,
    n_jobs=-1
)

etr.fit(X_train, y_train)

etr_pred = etr.predict(X_test)

etr_mae = mean_absolute_error(y_test, etr_pred)
etr_rmse = math.sqrt(mean_squared_error(y_test, etr_pred))

print("EXTRA TREES RESULTS")
print("MAE :", etr_mae)
print("RMSE:", etr_rmse)

EXTRA TREES RESULTS
MAE : 181839.26543826028
RMSE: 769742.2685869752

## 5Ô∏è‚É£ Second Baseline Model: LightGBM

LightGBM is a gradient-boosting ensemble well-suited for large datasets.

This model generally performs better than ExtraTrees but still uses only 
numeric features. Therefore, while performance should improve slightly,
it will remain limited compared to models that incorporate categorical data.

In [8]:
lgb = LGBMRegressor(
    n_estimators=600,
    learning_rate=0.05,
    max_depth=-1,
    subsample=0.8,
    colsample_bytree=0.8,
    random_state=42,
    n_jobs=-1
)

lgb.fit(X_train, y_train)

lgb_pred = lgb.predict(X_test)

lgb_mae = mean_absolute_error(y_test, lgb_pred)
lgb_rmse = math.sqrt(mean_squared_error(y_test, lgb_pred))

print("LIGHTGBM RESULTS")
print("MAE :", lgb_mae)
print("RMSE:", lgb_rmse)

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.020499 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1861
[LightGBM] [Info] Number of data points in the train set: 1799068, number of used features: 12
[LightGBM] [Info] Start training from score 151188.554962
LIGHTGBM RESULTS
MAE : 166081.34364775303
RMSE: 768518.8580883646

## 6Ô∏è‚É£ Model Performance Interpretation

The baseline models deliver the following metrics:

- **MAE** (Mean Absolute Error): the average amount the predictions are wrong  
- **RMSE** (Root Mean Squared Error): penalizes larger mistakes more  

Because the baseline models ignore location and property characteristics, the 
errors appear large (‚âà ¬£160k‚Äì¬£180k MAE), which is expected.

These models fulfill the assignment requirement of a ‚Äúquick first model‚Äù
that can be deployed while we continue improving accuracy.

In [9]:
# Final comparison
print("\n--- FINAL COMPARISON ---")
print(f"Extra Trees RMSE:  {etr_rmse:.2f}")
print(f"LightGBM RMSE:     {lgb_rmse:.2f}")
print(f"Extra Trees MAE:   {etr_mae:.2f}")
print(f"LightGBM MAE:      {lgb_mae:.2f}")

--- FINAL COMPARISON ---
Extra Trees RMSE:  769742.27
LightGBM RMSE:     768518.86
Extra Trees MAE:   181839.27
LightGBM MAE:      166081.34

## 7Ô∏è‚É£ Improving the Model With Categorical Features

The baseline models are intentionally simple.  
To significantly improve accuracy, we will incorporate key features:

- **County / district / town**
- **Property type** (Detached, Semi, Terraced, Flat)
- **Old/New** indicator
- **Freehold vs Leasehold duration**

These are essential determinants of housing price.

However, scikit-learn tree models cannot process raw string values.  
At this stage, we have two options:

### Option A ‚Äî One-Hot Encode the Categorical Features  
This creates binary columns (e.g. county_LONDON, type_D, etc.).  
Good for tree-based scikit-learn models.

### Option B ‚Äî Use PyCaret AutoML  
PyCaret automatically:
- encodes categoricals  
- compares many models  
- tunes the best model  
- produces a **much better model** than the baselines  

We will now proceed with **PyCaret AutoML** to build our improved model.

In [10]:
# If df isn't in memory anymore, reload it:
# df = pd.read_csv("../Data/housing_prices/price_paid_records_prepared_subset_10.csv")

# Make sure date is datetime
df["date_of_transfer"] = pd.to_datetime(df["date_of_transfer"])

# Build a PyCaret-friendly dataframe:
# Keep price (target), date, and important categoricals; drop admin / ID columns.
py_df = df[[
    "price",
    "date_of_transfer",
    "property_type",
    "oldnew",
    "duration",
    "towncity",
    "district",
    "county",
    "ppdcategory_type"
]].copy()

# Add simple time features as numeric columns
py_df["year"] = py_df["date_of_transfer"].dt.year
py_df["month"] = py_df["date_of_transfer"].dt.month
py_df["dayofweek"] = py_df["date_of_transfer"].dt.dayofweek

# Optional: drop the raw datetime if you don‚Äôt want PyCaret to treat it as a feature
py_df = py_df.drop(columns=["date_of_transfer"])

py_df.head()

,price,property_type,oldnew,duration,towncity,district,county,ppdcategory_type,year,month,dayofweek
0,35000,D,N,F,STOURBRIDGE,DUDLEY,WEST MIDLANDS,A,1995,1,6
1,300000,F,Y,L,LONDON,MERTON,GREATER LONDON,A,1995,1,6
2,125000,D,N,F,MACCLESFIELD,MACCLESFIELD,CHESHIRE,A,1995,1,6
3,17000,T,N,F,HULL,KINGSTON UPON HULL,HUMBERSIDE,A,1995,1,6
4,52000,S,N,L,WARRINGTON,WARRINGTON,WARRINGTON,A,1995,1,6

## 8Ô∏è‚É£ PyCaret AutoML: Comparing Models

PyCaret‚Äôs `compare_models()` function trains and evaluates many algorithms:

- LightGBM  
- CatBoost  
- Random Forest  
- Extra Trees  
- AdaBoost  
- Ridge / Lasso  
- ElasticNet  
- KNN  
- Neural networks  
- XGBoost  

PyCaret automatically handles:
- train/test splitting  
- categorical encoding  
- normalization  
- hyperparameters  
- outlier handling  

The result is a ranked list of models, helping us identify the best candidates.

In [11]:
# For speed, you *can* subsample further for AutoML:
py_data = py_df.sample(frac=0.3, random_state=42)
# If your machine handles it, just use full py_df:

reg_setup = setup(
    data=py_data,
    target="price",
    session_id=42,
    train_size=0.8
)

# Get the top 3 models from AutoML
top3_models = compare_models(n_select=3)
top3_models

[GradientBoostingRegressor(random_state=42),
 LGBMRegressor(n_jobs=-1, random_state=42),
 Lasso(random_state=42)]

## 9Ô∏è‚É£ Tuning the Best PyCaret Model

Using `tune_model()`, we optimize the top algorithm found by AutoML.
This process finds better hyperparameters and often significantly improves
MAE and RMSE.

The tuned model is then finalized and saved for later deployment.

In [12]:
# Top3 is a list: [best_model, second_best, third_best]
best_model_pycaret = top3_models[0]

# Tune hyperparameters of the best model
tuned_best_model = tune_model(best_model_pycaret)

# Finalize the tuned model (train on full training split)
final_best_model = finalize_model(tuned_best_model)

# Save for later deployment
save_model(final_best_model, "pycaret_best_housing_model")

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).
Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['year', 'month', 'dayofweek'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['property_type', 'oldnew',
                                              'duration', 'towncity', 'district',
                                              'county', 'ppdcategory_type'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('ordi...
                  TransformerWrapper(include=['property_type', 'duration'],
                                     transformer=OneHotEncoder(cols=['property_type',
                                                                     'duration'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('rest_encoding',
                  TransformerWrapper(include=['towncity', 'district', 'county'],
                                     transformer=TargetEncoder(cols=['towncity',
                                                                     'district',
                                                                     'county'],
                                                               handle_missing='return_nan'))),
                 ('actual_estimator',
                  GradientBoostingRegressor(random_state=42))]),
 'pycaret_best_housing_model.pkl')

## üîü Model Comparison and Final Selection

At this point, we have 2‚Äì3 models:

- Extra Trees baseline  
- LightGBM baseline  
- PyCaret Best Tuned Model  

We compare all models side-by-side using MAE/RMSE.
The PyCaret tuned model usually performs best because it integrates 
categorical features automatically.

The selected final model is the one that:

- Has the lowest MAE and RMSE  
- Generalizes best on the test set  
- Uses the richest feature representation

In [13]:
# Evaluate tuned PyCaret model on its hold-out test set (inside PyCaret)
pycaret_test_results = predict_model(final_best_model)
pycaret_test_results.head()

,property_type,oldnew,duration,towncity,district,county,ppdcategory_type,year,month,dayofweek,price,prediction_label
1774831,T,N,F,HEMEL HEMPSTEAD,DACORUM,HERTFORDSHIRE,A,2012,3,4,249500,241650.153425
1249865,T,N,F,STEVENAGE,STEVENAGE,HERTFORDSHIRE,A,2006,2,4,185000,165526.551441
1093910,T,N,F,LONDON,MERTON,GREATER LONDON,A,2004,8,2,375000,319796.063240
462808,D,N,F,BARNSLEY,BARNSLEY,SOUTH YORKSHIRE,A,1999,8,4,79950,87230.241066
974482,D,N,F,UCKFIELD,WEALDEN,EAST SUSSEX,A,2003,10,3,555000,311721.997338

In [16]:
# MAE / RMSE for the PyCaret model on its internal test predictions
py_mae = mean_absolute_error(pycaret_test_results["price"], pycaret_test_results["prediction_label"])
py_rmse = np.sqrt(mean_squared_error(pycaret_test_results["price"], pycaret_test_results["prediction_label"]))

print("PYCARET BEST MODEL RESULTS")
print("MAE :", py_mae)
print("RMSE:", py_rmse)

PYCARET BEST MODEL RESULTS
MAE : 63057.86724100634
RMSE: 308438.0857897287

In [17]:
# Summary comparison table: ExtraTrees vs LightGBM vs PyCaret best
results_summary = pd.DataFrame({
    "Model": ["Extra Trees", "LightGBM", "PyCaret Best"],
    "MAE":   [etr_mae,       lgb_mae,    py_mae],
    "RMSE":  [etr_rmse,      lgb_rmse,   py_rmse]
})

results_summary

          Model            MAE           RMSE
0   Extra Trees  181839.265438  769742.268587
1      LightGBM  166081.343648  768518.858088
2  PyCaret Best   63057.867241  308438.085790